body {
  background-color: #0a101e !important;
}

.st-site-header.st-style1 {
  background-color: rgba(7, 13, 27, 0.9);
  box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.1);
  transition: all 0.4s ease;
}

.st-main-header {
  background-color: #0a101e;
}

.st-main-header-in {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.st-transparent-header {
  background-color: transparent;
}

.st-sticky-active {
  background-color: #070d1b;
}

.st-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-main-header {
  position: relative;
}

.st-menu-dropdown-toggle:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 10px;
  background-color: #fdfeff;
  transition: all 0.3s ease;
}

.st-nav .st-nav-list ul {
  padding-left: 15px;
  display: none;
}

.st-nav .st-nav-list a {
  font-size: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 0;
  color: #fdfeff;
  text-decoration: none;
  padding: 8px 20px;
}

.st-nav .menu-item-has-children {
  position: relative;
}

.sp-phone {
  padding-left: 45px;
  position: relative;
}

.sp-phone i {
  color: white;
}

.sp-phone .sp-phone-no {
  color: #fec544;
  padding-left: 15px;
  font-weight: 600;
}

.st-nav .sp-phone::before {
  content: '';
  position: absolute;
  height: 11px;
  width: 1px;
  background: white;
  left: 0px;
}

/* --------------------HERO SECTION------------------------- */

.st-hero-wrap {
  position: relative;
  height: 850px;
  background-color: #070d1b;
}

.st-hero-wrap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.st-hero-wrap .st-hero-img {
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;
  width: 45%;
  z-index: 11;
}

.st-hero.st-style1 {
  height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  z-index: 11;
}

.st-hero-text h1 {
  font-size: 120px;
  margin-bottom: 24px;
  font-weight: 900;
  color: #fdfeff;
  line-height: 1;
}

.st-hero-text h2 {
  font-size: 36px;
  margin-bottom: 41px;
  font-weight: 300;
  color: #a9adb8;
}

.st-hero-text h3 {
  font-size: 30px;
  margin-top: -6px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fec544;
}

.st-social-group {
  background-color: #101624;
  border: 1px solid #232935;
  border-right: 0;
  border-radius: 50px 0 0 50px;
  height: 80px;
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  padding-left: 12px;
  right: 100%;
}

.st-hero.st-style2 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #070d1b;
}

.st-hero.st-style2 .container {
  position: relative;
  z-index: 11;
}

.st-hero.st-style2 h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.st-hero.st-style2 h1 span {
  color: #fec544;
}

.st-hero.st-style2 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 22px;
}

.st-author {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.1);
  margin: auto;
  margin-bottom: 25px;
}

.st-author img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.st-hero-shape {
  width: 100%;
  fill: #0a101e;
  position: absolute;
  bottom: 0;
}

.st-hero-social-links {
  display: flex;
  justify-content: center;
}

.st-hero-social-links .st-social-btn {
  height: 44px;

  width: 44px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 10px;
}
.st-hero-btn a:hover{
  box-shadow: 0px 5px 10px 0px #ffd06250;
}
.st-text-block-btn a:hover{
  box-shadow: 0px 5px 10px 0px #ffd06250;
}

.st-social-btn:hover {
  border-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.9);
}


.st-social-link .st-social-btn {
  border-radius: 50px;
  background-color: #070d1b;
  border: 0.5px solid #3f4551;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  align-items: center;
}

.st-social-link .st-social-btn:not(:last-child) {
  margin-right: 20px;
}

.st-social-btn .st-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.4s ease;
}

.st-social-icon i {
  font-size: 22px;
  color: white;
}

.st-icon-name {
  font-weight: 600;
  color: #fdfeff;
  overflow: hidden;
  max-width: 0;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.st-social-link .st-social-btn:hover,
.st-social-link .st-social-btn.active {
  padding-right: 15px;
}

.st-social-link .st-social-btn:hover .st-icon-name,
.st-social-link .st-social-btn.active .st-icon-name {
  max-width: 140px;
}

.st-copyright-wrap {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.st-btn.st-style1.st-color1 {
  background-color: #fec544;
  color: #070d1b;
}

.st-btn.st-style1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-transform: capitalize;
}

/* ------about section-------- */

.st-section-heading.st-style1 {
  text-align: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 41px;
}

.st-height-b100 {
  height: 100px;
}

.st-section-heading-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fec544;
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}

.st-section-heading-title::before {
  content: "";
  position: absolute;
  background-color: #3f4551;
  width: 170px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.st-section-heading-title::after {
  content: "";
  position: absolute;
  background-color: #fec544;
  width: 70px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.st-section-heading-subtitle {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 90px;
  font-weight: 700;
  color: rgba(21, 27, 41, 0.5);
  margin: 0;
  margin-top: -17px;
  width: 100%;
}

.st-text-block-title {
  color: white;
  font-size: 36px;
  margin-bottom: 18px;
}

.st-text-block-subtitle {
  color: #fec544;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 18px;
}

.st-text-block-text p {
  color: #a9adb8;
  padding: 0 50px 0 0;
  font-size: 18px;
  margin-bottom: 18px;
}

.st-text-block-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.st-text-block-details li {
  margin-bottom: 14px;
  font-size: 18px;
  color: #a9adb8;
}

.st-text-block-btn {
  font-size: 18px;
  margin-top: 43px;
}

mt-3 {
  margin-top: 500px;
}

.service-sec-box {
  text-align: center;
  padding: 55px 20px;
  border-radius: 3px;
  transition: all 0.4s ease;
  border: 1px solid #232935;
  background-color: #101624;
}

.st-height-b25 {
  height: 25px;
}

.st-iconbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border: 0.5px solid #3f4551;
  border-radius: 50%;
  background-color: #070d1b;
  margin: auto;
  font-size: 50px;
  margin-bottom: 28px;
  transition: all 0.4s ease;
}

.st-iconbox-icon svg {
  width: 50px;
  fill: #3f4551;
  transition: all 0.4s ease;
}

.st-height-b30 {
  height: 30px;
}

.serv-iconbox-title {
  font-weight: 400;
  line-height: 1.2em;
  font-size: 24px;
  color: #fdfeff;
  margin-bottom: 16px;
  transition: all 0.4s ease;
}

.serv-inbox-p {
  font-size: 18px;
  color: #a9adb8;
  padding-inline: 30px;
}

.service-sec-box:hover .st-iconbox-icon {
  border: 0.5px solid #fec544;
}

.service-sec-box:hover .st-iconbox-icon svg {
  fill: #fec544;
}

.service-sec-box:hover .serv-iconbox-title {
  color: #fec544;
}

/* ----------------------------------------------- */
.dark-bg{
  background-color: #070d1b;
}
.st-skill-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.st-progressbar-wrap {
  overflow: hidden;
}

.st-progressbar-heading {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
  font-family: 'Roboto', sans-serif;
}

.st-single-progressbar {
  margin-top: -5px;
}

.st-progressbar-title {
  font-size: 16px;
  margin-bottom: 0;
}

.st-progressbar-percentage {
  color: #fec544;
  font-weight: 400;
}

.st-progressbar {
  width: 100%;
  height: 2px;
  background-color: #3f4551;
}

.st-progressbar-in-95 {
  background-color: #fec544;
  height: 2px;
  width: 95%;
}
.st-progressbar-in-75{
  background-color: #fec544;
  height: 2px;
  width: 75%;
}
.st-progressbar-in-85 {
  background-color: #fec544;
  height: 2px;
  width: 85%;
}
.st-progressbar-in-80 {
  background-color: #fec544;
  height: 2px;
  width: 80%;
}
.st-progressbar-in-90 {
  background-color: #fec544;
  height: 2px;
  width: 90%;
}
.skill-title{
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #fdfeff;
}
.skill-subtitle{
  color: #a9adb8;

}
.resume-heading-title{
  margin-left: 25px;
  color: #fdfeff;
}
.st-height-b50 {
  height: 50px;
}
.resume-timeline-title{
  color: #fec544;
}
.resume-timeline-duration{
  font-size: 18px;
  margin-bottom: 21px;
  color: #a9adb8;
  font-weight: 500;
}
.resume-timeline-subtitle{
  color: #fdfeff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 19px;
}
.resume-timeline-text{
  color: #a9adb8;
  font-size: 16px;
  margin-bottom: -7px;
}
.resume-timeline-wrap {
  margin-top: 11px;
  padding-left: 40px;
  margin-left: 20px;
  border-left: 1px solid #232935;
}
.resume-timeline{
  position: relative;
}
.resume-timeline::before {
  margin-top: 11px;
  position: absolute;
  content: "";
  border: 2px solid #232935;
  border-radius: 50%;
  background-color: #101624;
  width: 13px;
  height: 13px;
  top: 0px;
  left: -47px;
  transition: all 0.4s ease;
}
.resume-timeline:hover::before {
  background-color: #fec544;
}
/* --------------------PORTFOLIO----------------------- */
.st-portfolio {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.st-portfolio::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3f4551;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}

.st-portfolio::after {
  content: "";
  position: absolute;
  border: 1px solid #fdfeff;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.st-portfolio:hover::before {
  opacity: .85;
}

.st-portfolio:hover::after {
  opacity: .85;
}

.st-portfolio:hover .st-portfolio-item-hover {
  opacity: 1;
  visibility: visible;
}

.st-portfolio .st-portfolio-img img {
  width: 100%;
}

.st-portfolio-item-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  z-index: 5;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.st-portfolio-item-hover i {
  border: 0.5px solid #3f4551;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fec544;
  color: #151b29;
  font-size: 26px;
  opacity: .8;
}

.st-portfolio-item-hover h5 {
  position: absolute;
  width: 250px;
  top: 87px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 20px;
  color: #fdfeff !important;
}

.st-portfolio-item-hover p {
  position: absolute;
  width: 250px;
  top: 114px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: #a9adb8 !important;
}

.st-portfolio-btn {
  margin-top: 20px;
}
.m-500{
  background-size: cover;
  width: 416px;
  height: 416px;
  overflow: hidden;
}
.fas{
  font-weight: 700;
}